.App {
  height: 100vh;
  /* background-size: cover; */
  background-color: black;
  background-repeat: no-repeat;
  background-position: top center;
}

.App-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 40px;
}

@media (min-width: 930px ) {
  .App {
      background-position: center center;
      padding-top: 40px;
  }

  .App-content {
      align-items: flex-end;
      justify-content: center;
    }
}